.mode-box {
    
    position: absolute;
    width: 150px;
    display: flex;
    right: 10px;
    top: 20px;



}

.mode-box button {
    border: none;
    background-color: transparent;
}



.mode-button {
    border: 2px solid navy;
    width: 100px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    
    
}

.mode-button p{
    
    padding: 0;
    width: 60px;    
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    
}

.mode-button .mode-img {
    
   
    width: 25%;
   
}

.navbar-container {

     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.navbar {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 60vw;
 
  
    
}

.navbar .logo {
    
    width: 150px;
    padding: 0px;
}

img {
    object-fit: contain;
}

.modo-claro {

    background-color: #fff;
    color: #000;
    animation-name: bg-change-light ;
    animation-duration: 0.5s;
    animation-timing-function: ease;
   
  
  }
  
  
  .modo-escuro {
  
    background-color: #000;
    color: #fff;
    animation-name: bg-change-dark ;
    animation-duration: 0.5s;
    animation-timing-function: ease;
  
  
  }

  
  @keyframes bg-change-light {
    from {
         background-color: #000;
         color: #fff;
     
    }
  
    to {
        background-color: #fff;
        color: #000;
        
    }
  }

  @keyframes bg-change-dark {
    from {
         background-color: #fff;
         color: #000;
     
    }
  
    to {
        background-color: #000;
        color: #fff;
    }
  }
  